Fontstyle
<style>
  @import url("https://use.typekit.net/bia1srp.css");
</style>

Sofia Pro Light
font-family: "sofia-pro", sans-serif;
font-weight: 300;
font-style: normal;
Sofia Pro Light italic
font-family: "sofia-pro", sans-serif;
font-weight: 300;
font-style: italic;
Sofia Pro Regular
font-family: "sofia-pro", sans-serif;
font-weight: 400;
font-style: normal;
Sofia Pro Regular italic
font-family: "sofia-pro", sans-serif;
font-weight: 400;
font-style: italic;
Sofia Pro Bold

Sofia Pro Bold italic
font-family: "sofia-pro", sans-serif;
font-weight: 700;
font-style: italic;