*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    text-align: center;
    background-color: oldlace;
}

/*banner images*/
.banner-card img{
max-width: 100%;
height: auto;
}

.frown {
  letter-spacing: -3px;
  color: plum;
  font-size: xx-large;
  font-weight: bolder;
}


/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: beige;
    font-family: "sofia-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.brand-name {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display:flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar-links Li {
    list-style: none;
}

.navbar-links Li a {
    text-decoration: none;
    color: beige;
    padding: 1rem;
    display: block;
}

.navbar-links Li:hover {
background-color: plum;
}

.togglebutton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.togglebutton .bar {
    height: 3px;
    width: 100%;
    background-color: plum;
    border-radius: 10px;
}
/*navbar*/
/**/

/*text styling*/

.b {
  font-variant-caps: all-petite-caps;
}

p {
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    padding-left: 0.5rem;
    font-size: 20px;
    min-width: min-content;
    margin: auto;
    width: 1000px; 
    max-width:fit-content;
    padding-bottom: 1%;
}

h1{
    font-family: "sofia-pro", sans-serif;
    font-weight: 800; 
    font-size: 70px;
    text-align: center;
}

h2{
    font-family: "sofia-pro", sans-serif;
    font-weight: 700;
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;
}

caption {
  font-family: "sofia-pro", sans-serif;
    font-weight: 700;
    padding-bottom: 0px;
    font-size:x-small;
    text-align: center;
}

h3{
    font-family: "sofia-pro", sans-serif;
    font-weight: 700;
    padding-bottom: 0px;
    font-size:large;
    text-align: center;
    color: plum;
}

h4 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 500;
  padding-bottom: 0px;
  padding-top: 0%;
  font-size:medium;
  text-align: center;
  color: orangered;
}

a link {
    color: hotpink;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: hotpink;
    background-color: transparent;
    text-decoration: none;
  }

 a:hover {
    color: plum;
    background-color: transparent;
    text-decoration: underline;
  }
  /*text styling*/

  .marquee {
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 1920px;
    width: auto;
    padding: 10px 10px;
    margin: none;
    background-color: plum;
    resize: horizontal;
    container-type: inline-size;
    font-family: "sofia-pro", sans-serif;
    font-weight: 1000; 
    font-size:large;
    text-align: center;
  }

  .marquee > * {
    -webkit-animation: marquee 30s linear infinite both alternate;
    animation: marquee 30s linear infinite both alternate;
  
  }
  @-webkit-keyframes marquee {
    to {
      transform: translateX(min(100cqw - 100%, 0px));
    }

  }




  @media only screen and (max-width: 800px) {
    img {
      width: 100%;
      cursor:default;
    }
  }

  @media only screen and (min-width: 801px) {
    img {
      width: 100%;
      cursor:default;
    }
  }

@media (max-width: 800px) {
   .togglebutton {
    display: flex;
   }

   .navbar {
    flex-direction: column;
    align-items: flex-start;
   }

   .navbar-links {
    display: none;
    width: 100%;
}

   .navbar-links ul {
    width:100%;
    flex-direction: column;
   }

   .navbar-links li {
    text-align: left;
   }

   .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


   
}